@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --body-bg-color: #111111;
    --badge-bg-color: #3B3B3B;
    --primary-color: #FFFFFF;
    --primary-font: 'Quicksand', sans-serif;
    --trump-color: #FFFFFF;
}

body {
    background-color: var(--body-bg-color);
    color: var(--primary-color);
    height: 100vh;
    font-family: var(--primary-font);
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.scoreboard-container {
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
}

.current-status {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 1.3rem;
    text-align: center;
}

.rules-container,
.buttons-container,
.score-container,
.bid-container,
.trump-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.raven-title {
    display: inline;
    margin-right: 15px;
    margin-bottom: -22px;
}

.logo-img {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 55px;
    padding: 10px;
}

#rulesLink {
    color: #FFFFFF;
}

.badge-container {
    background-color: var(--badge-bg-color);
    color: var(--primary-color);
    display: inline-block;
    padding: 2px 10px 3px;
    border-radius: 10px;
    width: 45px;
}

.trump-badge-container {
    background-color: var(--primary-color);
    color: black;
    display: inline-block;
    padding: 2px 10px 3px;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
    width: 65px;
}

.badge {
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.reset-button-container,
.play-game-button-container {
    display: flex;
    justify-content: center;
}

.game-button {
    background-color: var(--badge-bg-color);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    margin: 0;
    margin-left: 7px;
    margin-right: 7px;
    outline: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

#playGame:disabled {
  pointer-events: none;
}

#resetGame:disabled {
    pointer-events: none;
  }

.game-button:hover {
  color: #fff;
  background-color: #111111;
  transform: translateY(-2px);
}

/* main {
    display: flex;
    justify-content: center;
} */

.game-table-container {
    margin: auto;
    background-color: #333333;
    border-radius: 50px;
    text-align: center;
    width: 700px;
    position: relative;
}

.middle-four-container {
    position: absolute;
    margin-top: 20%;
    width: 100%;
}

.middle-card {
    margin: 0 2px 3px 2px;
}

.card {
    width: 100px;
    border-radius: 8px;
}

.partner-card-info {
    margin-top: 5px;
    margin-bottom: 8px;
    padding-top: 10px;
    font-size: 1rem;
}

.inner-game-table-container {
    position: relative;
}

.partner-card-container {
    height: 160px;
    width: 110px;
    margin: auto;
    margin-bottom: 5px;
}

.rival1-card-container {
    height: 160px;
    margin-top: -75px;
    margin-left: 55px;
    display: inline;
    position: absolute;
    width: 110px;
}

.rival2-card-container {
    height: 160px;
    display: inline;
    position: absolute;
    margin-top: -75px;
    margin-left: -165px;
    width: 110px;
}

.rival-card-info-left {
    margin-top: 0;
    margin-left: -235px;
    display: inline;
    color: white;
    text-align: left;
    font-size: 1rem;
    position: absolute;
}

.rival-card-info-right {
    margin-left: 175px;
    display: inline;
    color: white;
    text-align: right;
    font-size: 1rem;
    position: absolute;
}

.player-card-container {
    height: 160px;
    width: 110px;
    margin-top: -75px;
    margin: auto;
}

.your-card-info {
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1rem;
}

/* adjust this width with media */
.player-hand-container {
    text-align: center;
    width: 1000px;
    margin: auto;
}

/* adjust this width with media */
.your-hand-container {
    margin: auto;
    width: 925px;
    margin-bottom: -5px;
}

.player-hand-img {
    display: inline;
    margin: 0 2px 3px 2px;
}

.invisible {
    visibility: hidden;
}

#overlay {
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.rules-overlay-container {
    background-color: #D3D3D3;
    color: black;
    margin: auto;
    font-size: 1.1rem;
    margin-top: 40px;
    width: 40%;
    border-radius: 30px;
    overflow-y: auto;
}

.inner-rules-container {
    padding: 20px;
    padding-top: 0;
}

#ravenRules {
    margin: auto;
    text-align: center;
}

.cross {
    display: inline-block;
    font-size: 2.2rem;
    margin: auto;
    margin-top: 10px;
    margin-left: -15px;
    text-align: right;
    width: 100%;
  }

  .prompt-container {
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .inner-prompt-container {
    background-color: #D3D3D3;
    color: black;
    margin: auto;
    font-size: 1.1rem;
    margin-top: 150px;
    width: 40%;
    border-radius: 30px;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }

#textInput {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    background-color: white;
}

#textInput:focus {
    outline-color: #111111;
}

#submitBid, #passBid {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: none;
    transition: all 250ms;
    background-color: #3A3B3C;
    color: white;
}

#submitBid:hover, #passBid:hover {
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#submitBid:active, #passBid:active {
    background-color: black;
    transform: translateY(0);
}

/* Media Queries */

/* Large laptops */
@media screen and (max-width: 1440px) {
    .scoreboard-container {
        margin-top: 0;
    }
    .current-status {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }
    .raven-title {
        display: inline;
        margin-right: 15px;
        margin-bottom: -18px;
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    .rules {
        font-size: .9rem;
    }
    .logo-img {
        height: 30px;
    }
    .rules-overlay-container {
        width: 60%;
    }
    .inner-prompt-container {
        font-size: 1rem;
        width: 60%;
    }
    .game-button {
        font-size: .7rem;
        padding: 5px 7px;
    }
    .buttons-container {
        margin-top: 5px;
    }
    #textInput, #submitBid, #passBid {
        font-size: 1rem;
        padding: 8px;
    }
    .card {
        width: 80px;
    }
    .partner-card-container {
        height: 130px;
        width: 90px;
        margin: auto;
    }
    .partner-card-info {
        font-size: .9rem;
    }
    .your-card-info {
        font-size: .9rem;
        margin-top: 0;
    }
    
    .rival1-card-container {
        height: 130px;
        margin-top: -75px;
        margin-left: 40px;
        display: inline;
        position: absolute;
        width: 90px;
    }
    
    .rival2-card-container {
        height: 130px;
        display: inline;
        position: absolute;
        margin-top: -75px;
        margin-left: -130px;
        width: 90px;
    }
    
    .rival-card-info-left {
        margin-top: -30px;
        margin-left: -190px;
        display: inline;
        color: white;
        text-align: left;
        font-size: .9rem;
        position: absolute;
    }
    
    .rival-card-info-right {
        margin-top: -30px;
        margin-left: 135px;
        display: inline;
        color: white;
        text-align: right;
        font-size: .9rem;
        position: absolute;
    }
    
    .player-card-container {
        height: 130px;
        width: 90px;
        margin-top: -100px;
        margin: auto;
    }
    .your-hand-container {
        width: 750px;
        margin-top: -5px;
    }
}

/* Small laptops */
@media screen and (max-width: 1024px) {
    .scoreboard-container {
        margin-top: 0;
    }
    .current-status {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }
    .raven-title {
        display: inline;
        margin-right: 15px;
        margin-bottom: -18px;
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    .rules {
        font-size: .9rem;
    }
    .logo-img {
        height: 30px;
    }
    .rules-overlay-container {
        width: 60%;
    }
    .inner-prompt-container {
        font-size: 1rem;
        width: 60%;
    }
    .game-button {
        font-size: .7rem;
        padding: 5px 7px;
    }
    .buttons-container {
        margin-top: 5px;
    }
    #textInput, #submitBid, #passBid {
        font-size: 1rem;
        padding: 8px;
    }
    .card {
        width: 80px;
    }
    .partner-card-container {
        height: 130px;
        width: 90px;
        margin: auto;
    }
    .partner-card-info {
        font-size: .9rem;
    }
    .your-card-info {
        font-size: .9rem;
        margin-top: 0;
    }
    
    .rival1-card-container {
        height: 130px;
        margin-top: -75px;
        margin-left: 40px;
        display: inline;
        position: absolute;
        width: 90px;
    }
    
    .rival2-card-container {
        height: 130px;
        display: inline;
        position: absolute;
        margin-top: -75px;
        margin-left: -130px;
        width: 90px;
    }
    
    .rival-card-info-left {
        margin-top: -30px;
        margin-left: -190px;
        display: inline;
        color: white;
        text-align: left;
        font-size: .9rem;
        position: absolute;
    }
    
    .rival-card-info-right {
        margin-top: -30px;
        margin-left: 135px;
        display: inline;
        color: white;
        text-align: right;
        font-size: .9rem;
        position: absolute;
    }
    
    .player-card-container {
        height: 130px;
        width: 90px;
        margin-top: -100px;
        margin: auto;
    }
    .your-hand-container {
        width: 750px;
        margin-top: -5px;
    }
}
    
/* iPads */
@media screen and (max-width: 768px) {
    .current-status {
        font-size: .9rem;
    }
    .raven-title {
        display: inline;
        margin-right: 10px;
        margin-bottom: -25px;
        font-size: 1.1rem;
    }
    h2 {
        font-size: .9rem;
    }
    .rules {
        font-size: .75rem;
    }
    .logo-img {
        height: 40px;
    }
    .badge-container {
        width: 30px;
    }
    .trump-badge-container {
        width: 45px;
    }
    .game-button {
        font-size: .5rem;
        padding: 6px 8px;
    }
    .player-hand-container {
        width: 700px;
    }
    .your-hand-container {
        width: 660px;
    }
    .rules-overlay-container {
        width: 500px;
        font-size: 1rem;
        margin: auto;
        margin-top: 25px;
    }
    .inner-prompt-container {
        font-size: 1rem;
        width: 60%;
    }
    #textInput, #submitBid, #passBid {
        font-size: 1rem;
    }
    .game-table-container {
        width: 550px;
    }
    .card {
        width: 70px;
    }
    .partner-card-container {
        height: 120px;
        width: 85px;
        margin: auto;
        margin-bottom: 5px;
    }
    .partner-card-info {
        font-size: .9rem;
    }
    .your-card-info {
        font-size: .9rem;
        margin-top: 0;
    }
    
    .rival1-card-container {
        height: 120px;
        margin-top: -75px;
        margin-left: 40px;
        display: inline;
        position: absolute;
        width: 85px;
    }
    
    .rival2-card-container {
        height: 120px;
        display: inline;
        position: absolute;
        margin-top: -75px;
        margin-left: -125px;
        width: 85px;
    }
    
    .rival-card-info-left {
        margin-top: -30px;
        margin-left: -190px;
        display: inline;
        color: white;
        text-align: left;
        font-size: .9rem;
        position: absolute;
    }
    
    .rival-card-info-right {
        margin-top: -30px;
        margin-left: 135px;
        display: inline;
        color: white;
        text-align: right;
        font-size: .9rem;
        position: absolute;
    }
    
    .player-card-container {
        height: 120px;
        width: 85px;
        margin-top: -65px;
        margin: auto;
    }

    .your-hand-p {
        font-size: .9rem;
    }

    #ravenRules {
        font-size: 1.1rem;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .current-status {
        font-size: 1rem;
    }
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .score-span {
        display: none;
    }
    h2 {
        font-size: .8rem;
    }
    .rules-container {
        display: none;
    }
    .logo-img {
        height: 40px;
        display: none;
    }
    .badge-container {
        width: 20px;
    }
    .trump-badge-container {
        width: 36px;
    }
    .status-container {
        height: 40px;
        padding: 5px;
    }
    .game-button {
        font-size: .5rem;
        padding: 6px 8px;
    }
    .player-hand-container {
        width: 360px;
    }
    .your-hand-container {
        width: 315px;
    }
    .rules-overlay-container {
        width: 90%;
        font-size: .9rem;
        margin: auto;
        margin-top: 25px;
        overflow-y: auto;
    }
    .cross {
        font-size: 1.3rem;
    }
    .inner-prompt-container {
        font-size: .9rem;
        width: 60%;
    }
    #textInput, #submitBid, #passBid {
        font-size: .9rem;
    }

    #textInput {
        padding: 7px;
    }

    #submitBid, #passBid {
        padding: 7px;
    }
    .game-table-container {
        width: 350px;
    }
    .card {
        width: 50px;
        border-radius: 4px;
    }
    .partner-card-container {
        height: 80px;
        width: 55px;
        margin: auto;
        margin-bottom: 5px;
    }
    .partner-card-info {
        font-size: .75rem;
    }
    .your-card-info {
        font-size: .75rem;
        margin-top: 0;
    }

    .rival1-card-container {
        height: 80px;
        margin-top: -35px;
        margin-left: 28px;
        display: inline;
        position: absolute;
        width: 55px;
    }
    
    .rival2-card-container {
        height: 80px;
        display: inline;
        position: absolute;
        margin-top: -35px;
        margin-left: -83px;
        width: 55px;
    }
    
    .rival-card-info-left {
        margin-top: -15px;
        margin-left: -138px;
        display: inline;
        color: white;
        text-align: left;
        font-size: .75rem;
        position: absolute;
    }
    
    .rival-card-info-right {
        margin-top: -15px;
        margin-left: 92px;
        display: inline;
        color: white;
        text-align: right;
        font-size: .75rem;
        position: absolute;
    }
    
    .player-card-container {
        height: 80px;
        width: 55px;
        margin-top: -65px;
        margin: auto;
    }

    .your-hand-p {
        font-size: .75rem;
    }

    #ravenRules {
        font-size: 1.1rem;
    }
}